input.subject-table-input-entry-input-small {
	width: 0.5in;
}

input.subject-table-input-entry-input-medium {
	width: 1in;
}

input.subject-table-input-entry-input-large {
	width: 3in;
}

button.subject-table-input-entry-button {
	width: 1in;
}